<div class="col-md-9" id="checkout">

  <div class="row box" *ngIf="nameCustomer">
    <div class="col-xs-6">
        <h1>{{nameCustomer}} đã đặt hàng thành công!</h1>
        <br>
        <p>Đơn hàng của bạn đang được chúng tôi xử lý!</p>
        <br>
        <p>Chúng tôi sẽ liên lạc bạn sớm nhất ngay khi đơn hàng thông qua!</p>
    </div>
    <div class="col-xs-6">
      <img src="assets/images/ordered.png" height="300" width="400" alt="Ordered">
    </div>
          
  </div>
  <!-- /.box -->


</div>
<!-- /.col-md-9 -->