<div id="content">
  <div class="container">

      <div class="col-md-12">
          <ul class="breadcrumb">
              <li><a [routerLink]="['/shop/home']">Trang Chủ</a>
              </li>
              <li *ngIf="product.new">Mới</li>
              <li *ngIf="!product.new">Cũ</li>
              <li *ngIf="product.category === 'BAN'">Bàn</li>
              <li *ngIf="product.category === 'QUAY'">Quầy</li>
              <li *ngIf="product.category === 'BON'">Bồn</li>
              <li *ngIf="product.category === 'BEP'">Bếp</li>
              <li *ngIf="product.category === 'KHAC'">Sản phẩm khác</li>
              <li>{{product.productName}}</li>
          </ul>

      </div>

      <div class="col-md-3">
          <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
          <div class="panel panel-default sidebar-menu">

              <div class="panel-heading">
                  <h3 class="panel-title">Danh mục</h3>
              </div>

              <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked category-menu">
                      <li routerLinkActive="active">
                          <a>Đồ cũ</a>
                          <ul>
                              <li><a [routerLink]="['/shop/category', 'old','BAN']">Bàn</a>
                              </li>
                              <li><a [routerLink]="['/shop/category', 'old','BEP']">Bếp</a>
                              </li>
                              <li><a [routerLink]="['/shop/category', 'old','BON']">Bồn</a>
                              </li>
                              <li><a [routerLink]="['/shop/category', 'old','QUAY']">Quầy</a>
                              </li>
                              <li><a [routerLink]="['/shop/category', 'old','KHAC']">Sản phẩm khác</a>
                              </li>
                          </ul>
                      </li>
                      <li routerLinkActive="active">
                          <a>Đồ mới</a>
                          <ul>
                            <li><a [routerLink]="['/shop/category', 'new','BAN']">Bàn</a>
                            </li>
                            <li><a [routerLink]="['/shop/category', 'new','BEP']">Bếp</a>
                            </li>
                            <li><a [routerLink]="['/shop/category', 'new','BON']">Bồn</a>
                            </li>
                            <li><a [routerLink]="['/shop/category', 'new','QUAY']">Quầy</a>
                            </li>
                            <li><a [routerLink]="['/shop/category', 'new','KHAC']">Sản phẩm khác</a>
                            </li>
                          </ul>
                      </li>
                  </ul>

              </div>
          </div>

          <!-- <div class="panel panel-default sidebar-menu">

              <div class="panel-heading">
                  <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
              </div>

              <div class="panel-body">

                  <form>
                      <div class="form-group">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox">Armani (10)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox">Versace (12)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox">Carlo Bruni (15)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox">Jack Honey (14)
                              </label>
                          </div>
                      </div>

                      <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                  </form>

              </div>
          </div>

          <div class="panel panel-default sidebar-menu">

              <div class="panel-heading">
                  <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
              </div>

              <div class="panel-body">

                  <form>
                      <div class="form-group">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> <span class="colour white"></span> White (14)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> <span class="colour green"></span> Green (20)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                              </label>
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"> <span class="colour red"></span> Red (10)
                              </label>
                          </div>
                      </div>

                      <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                  </form>

              </div>
          </div> -->

          <!-- *** MENUS AND FILTERS END *** -->

          <div class="banner">
              <a href="#">
                  <img src="assets/images/banner.jpg" alt="sales 2014" class="img-responsive">
              </a>
          </div>
      </div>

      <div class="col-md-9">

          <div class="row" id="productMain">
              <div class="col-sm-6">
                  <div id="mainImage">
                      <img src="{{product.image[0]}}" alt="Image" class="img-responsive">
                  </div>

                  <div class="ribbon sale" *ngIf="product.sale">
                      <div class="theribbon">SALE</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon new" *ngIf="product.new">
                      <div class="theribbon">NEW</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon gift" *ngIf="product.hot">
                    <div class="theribbon">HOT</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

              </div>
              <div class="col-sm-6">
                  <div class="box">
                    <h1 class="text-center">{{product.productName}}</h1>
                    <p class="price" *ngIf="!product.discount">{{product.price | number:'1.0-0'}}</p>
                    <p class="price" *ngIf="product.discount"><del>{{product.price | number:'1.0-0'}}</del> {{product.price*(100-product.discount)/100 | number:'1.0-0'}}</p>
                    <p class="price" *ngIf="!product.price">Liên hệ</p>

                    <p class="text-center buttons" *ngIf="product.price">
                        <a (click)="addCart()" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a> 
                    </p>


                  </div>

                  <div class="row" id="thumbs" *ngIf="product.image">
                      <div class="col-xs-4" *ngFor="let img of product.image; let i = index">
                          <a class="thumb" href="{{img}}" (click)="productDetailGallery($event, '#thumb' + i)" [id]="'thumb' + i">
                              <img src="{{img}}" alt="Image" class="img-responsive" >
                          </a>
                      </div>
                      <!-- <div class="col-xs-4" *ngIf="product?.img[1]">
                          <a href="{{product?.img[1]}}" class="thumb">
                              <img src="{{product?.img[1]}}" alt="Image" class="img-responsive">
                          </a>
                      </div>
                      <div class="col-xs-4" *ngIf="product?.img[2]">
                          <a href="{{product?.img[2]}}" class="thumb">
                              <img src="{{product?.img[2]}}" alt="Image" class="img-responsive">
                          </a>
                      </div> -->
                  </div>
              </div>

          </div>


          <div class="box" id="details">
              <p>
                  <h4>Chi tiết sản phẩm:</h4>
                  <p>{{product.description[0]}}</p>
                  <h4>Chất liệu:</h4>
                  <ul>
                      <li>{{product.description[1]}}</li>
                  </ul>
                  <!-- <h4>Size & Fit</h4>
                  <ul>
                      <li>Regular fit</li>
                      <li>The model (height 5'8" and chest 33") is wearing a size S</li>
                  </ul> -->
                  <blockquote *ngIf="product.description[2]">
                      <p><em>{{product.description[2]}}</em>
                      </p>
                  </blockquote>

                  <hr>
                  <!-- <div class="social">
                      <h4>Show it to your friends</h4>
                      <p>
                          <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                          <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                      </p>
                  </div> -->
          </div>

          <div class="row same-height-row">
              <!-- <div class="col-md-3 col-sm-6">
                  <div class="box">
                      <h3>Các sản phẩm liên quan</h3>
                  </div>
              </div> -->

              <div class="col-md-4 col-sm-6" *ngFor="let item of relateProducts">
                  <div class="product relate-product same-height">
                      <!-- <div class="flip-container">
                          <div class="flipper">
                              <div class="front">
                                  <a [routerLink]="['/shop/productdetail','detail']">
                                      <img src="assets/images/product2.jpg" alt="Image" class="img-responsive">
                                  </a>
                              </div>
                              <div class="back">
                                  <a [routerLink]="['/shop/productdetail','detail']">
                                      <img src="assets/images/product2_2.jpg" alt="Image" class="img-responsive">
                                  </a>
                              </div>
                          </div>
                      </div> -->
                      <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                          <img [src]="item.image[0]" alt="Image" class="img-responsive">
                      </a>
                      <div class="text">
                          <h3><a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a></h3>
                          <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
                          <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
                          <p class="price" *ngIf="!item.price">Liên hệ</p>
                      </div>
                      <div class="ribbon sale" *ngIf="item.sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                          </div>
                          <!-- /.ribbon -->
              
                          <div class="ribbon new" *ngIf="item.new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                          </div>
                          <!-- /.ribbon -->
              
                          <div class="ribbon gift" *ngIf="item.hot">
                            <div class="theribbon">HOT</div>
                            <div class="ribbon-background"></div>
                          </div>
                  </div>
                  <!-- /.product -->
              </div>
          </div>
      </div>
      <!-- /.col-md-9 -->
  </div>
  <!-- /.container -->
</div>
<!-- /#content -->