<div id="content">

  <div class="container">
    <div class="col-md-12">
      <owl-carousel id="main-slider" [options]="{items: 1, autoplay: true, dots: true, navigation: true}"
      [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']" >
        <div class="item">
          <img src="assets/images/main-slider1.jpg" alt="Image" class="img-responsive">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/main-slider2.jpg" alt="Image">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/main-slider3.jpg" alt="Image">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/main-slider4.jpg" alt="Image">
        </div>
      </owl-carousel>
      <!-- /#main-slider -->
    </div>
  </div>

  <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
  <div id="advantages">

    <div class="container">
      <div class="same-height-row">
        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-heart"></i>
            </div>

            <h3>
              Uy Tín
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-tags"></i>
            </div>

            <h3>
              Chất Lượng
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-thumbs-up"></i>
            </div>

            <h3>
              Giá Tốt
            </h3>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  </div>
  <!-- /#advantages -->

  <!-- *** ADVANTAGES END *** -->

  <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
  <div class="hot hidden-xs">

    <div class="box">
      <div class="container">
        <div class="col-md-12">
          <h2>các sản phẩm bán chạy</h2>
        </div>
      </div>
    </div>

    

    <div class="container">
      <owl-carousel class="product-slider" [options]="{items: 4, dots: true, navigation: true}"
      [items]="hotProduct" 
      [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
        <div class="item" *ngFor="let item of hotProduct ">
          <div class="product">
            <!-- <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                    <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                  </a>
                </div>
                <div class="back">
                  <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                    <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                  </a>
                </div>
              </div>
            </div> -->
            <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
              <img src="{{item.image[0]}}" alt="Image" class="img-responsive">
            </a>
            <div class="text">
              <h3>
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
              </h3>
              <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
              <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
              <p class="price" *ngIf="!item.price">Liên hệ</p>
            </div>
            <!-- /.text -->

            <div class="ribbon sale" *ngIf="item.sale">
              <div class="theribbon">SALE</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new" *ngIf="item.new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon gift" *ngIf="item.hot">
              <div class="theribbon">HOT</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->
          </div>
          <!-- /.product -->
        </div>
      </owl-carousel>
      <!-- /.product-slider -->
    </div>
    <!-- /.container -->

  </div>

  <div class="hot visible-xs">

    <div class="box">
      <div class="container">
        <div class="col-xs-12">
          <h2>các sản phẩm bán chạy</h2>
        </div>
      </div>
    </div>

    

    <div class="container">
      <owl-carousel class="product-slider" [options]="{items: 1, dots: true, navigation: true}"
      [items]="hotProduct" 
      [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
        <div class="item" *ngFor="let item of hotProduct ">
          <div class="product">
            <!-- <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                    <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                  </a>
                </div>
                <div class="back">
                  <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                    <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                  </a>
                </div>
              </div>
            </div> -->
            <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
              <img src="{{item.image[0]}}" alt="Image" class="img-responsive">
            </a>
            <div class="text">
              <h3>
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
              </h3>
              <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
              <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
              <p class="price" *ngIf="!item.price">Liên hệ</p>
            </div>
            <!-- /.text -->

            <div class="ribbon sale" *ngIf="item.sale">
              <div class="theribbon">SALE</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new" *ngIf="item.new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon gift" *ngIf="item.hot">
              <div class="theribbon">HOT</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->
          </div>
          <!-- /.product -->
        </div>
      </owl-carousel>
      <!-- /.product-slider -->
    </div>
    <!-- /.container -->

  </div>
  <!-- /.hot -->

  <!-- *** HOT END *** -->

  <!-- *** HOT SALE PRODUCT SLIDESHOW ***
_________________________________________________________ -->
<div class="hot hidden-xs">

  <div class="box">
    <div class="container">
      <div class="col-md-12">
        <h2>các sản phẩm đang giảm giá</h2>
      </div>
    </div>
  </div>

  

  <div class="container">
    <owl-carousel class="product-slider" [options]="{items: 4, dots: true, navigation: true}"
    [items]="saleProduct" 
    [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
      <div class="item" *ngFor="let item of saleProduct">
        <div class="product">
          <!-- <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div> -->
          <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
            <img src="{{item.image[0]}}" alt="Image" class="img-responsive">
          </a>
          <div class="text">
            <h3>
              <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
            </h3>
            <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
            <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
            <p class="price" *ngIf="!item.price">Liên hệ</p>
          </div>
          <!-- /.text -->

          <div class="ribbon sale" *ngIf="item.sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon new" *ngIf="item.new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon gift" *ngIf="item.hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
        </div>
        <!-- /.product -->
      </div>
    </owl-carousel>
    <!-- /.product-slider -->
  </div>
  <!-- /.container -->

</div>

<div class="hot visible-xs">

  <div class="box">
    <div class="container">
      <div class="col-md-12">
        <h2>các sản phẩm đang giảm giá</h2>
      </div>
    </div>
  </div>

  

  <div class="container">
    <owl-carousel class="product-slider" [options]="{items: 1, dots: true, navigation: true}"
    [items]="saleProduct" 
    [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
      <div class="item" *ngFor="let item of saleProduct">
        <div class="product">
          <!-- <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div> -->
          <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
            <img src="{{item.image[0]}}" alt="Image" class="img-responsive">
          </a>
          <div class="text">
            <h3>
              <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
            </h3>
            <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
            <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
            <p class="price" *ngIf="!item.price">Liên hệ</p>
          </div>
          <!-- /.text -->

          <div class="ribbon sale" *ngIf="item.sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon new" *ngIf="item.new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon gift" *ngIf="item.hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
        </div>
        <!-- /.product -->
      </div>
    </owl-carousel>
    <!-- /.product-slider -->
  </div>
  <!-- /.container -->

</div>

<!-- /#sale -->

<!-- *** SALE END *** -->

<!-- *** NEW PRODUCT SLIDESHOW ***
_________________________________________________________ -->
<div class="hot hidden-xs">

  <div class="box">
    <div class="container">
      <div class="col-xs-12">
        <h2>các sản phẩm mới về</h2>
      </div>
    </div>
  </div>

  

  <div class="container">
    <owl-carousel class="product-slider" [options]="{items: 4, dots: true, navigation: true, autoHeight: false}"
    [items]="newProduct" 
    [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
      <div class="item" *ngFor="let item of newProduct">
        <div class="product">
          <!-- <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div> -->
          <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
            <img src="{{item.image[0]}}" alt="Image" class="img-responsive" >
          </a>
          <div class="text">
            <h3>
              <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
            </h3>
            <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
            <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
            <p class="price" *ngIf="!item.price">Liên hệ</p>
          </div>
          <!-- /.text -->

          <div class="ribbon sale" *ngIf="item.sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon new" *ngIf="item.new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon gift" *ngIf="item.hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
        </div>
        <!-- /.product -->
      </div>
    </owl-carousel>
    <!-- /.product-slider -->
  </div>
  <!-- /.container -->

</div>

<div class="hot visible-xs">

  <div class="box">
    <div class="container">
      <div class="col-xs-12">
        <h2>các sản phẩm mới về</h2>
      </div>
    </div>
  </div>

  

  <div class="container">
    <owl-carousel class="product-slider" [options]="{items: 1, dots: true, navigation: true, autoHeight: false}"
    [items]="newProduct" 
    [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
      <div class="item" *ngFor="let item of newProduct">
        <div class="product">
          <!-- <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                </a>
              </div>
            </div>
          </div> -->
          <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
            <img src="{{item.image[0]}}" alt="Image" class="img-responsive" >
          </a>
          <div class="text">
            <h3>
              <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
            </h3>
            <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
            <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
            <p class="price" *ngIf="!item.price">Liên hệ</p>
          </div>
          <!-- /.text -->

          <div class="ribbon sale" *ngIf="item.sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon new" *ngIf="item.new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon gift" *ngIf="item.hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
        </div>
        <!-- /.product -->
      </div>
    </owl-carousel>
    <!-- /.product-slider -->
  </div>
  <!-- /.container -->

</div>
<!-- /#new -->

<!-- *** NEW END *** -->

</div>
<!-- /#content -->
