<div id="content">

  <div class="container">
    <div class="col-md-12">
      <owl-carousel id="main-slider" [options]="{items: 1, autoplay: true, dots: true, navigation: true}"
      [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']" >
        <div class="item">
          <img src="assets/images/main-slider1.jpg" alt="" class="img-responsive">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/main-slider2.jpg" alt="">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/main-slider3.jpg" alt="">
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/images/main-slider4.jpg" alt="">
        </div>
      </owl-carousel>
      <!-- /#main-slider -->
    </div>
  </div>

  <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
  <div id="advantages">

    <div class="container">
      <div class="same-height-row">
        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-heart"></i>
            </div>

            <h3>
              <a >Khách hàng trên hết</a>
            </h3>
            <p>Niềm tin, uy tín của cửa hàng được đặt lên làm đầu</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-tags"></i>
            </div>

            <h3>
              <a >Giá tốt nhất</a>
            </h3>
            <p>Luôn đem đến cho khách giá cả cạnh tranh, tốt nhất trên thị trường</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box same-height clickable">
            <div class="icon">
              <i class="fa fa-thumbs-up"></i>
            </div>

            <h3>
              <a >100% chất lượng</a>
            </h3>
            <p>Đảm bảo chất lượng, xuất xứ của các sản phẩm</p>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  </div>
  <!-- /#advantages -->

  <!-- *** ADVANTAGES END *** -->

  <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
  <div class="hot">

    <div class="box">
      <div class="container">
        <div class="col-md-12">
          <h2>các sản phẩm bán chạy</h2>
        </div>
      </div>
    </div>

    

    <div class="container">
      <owl-carousel class="product-slider" [options]="{items: 4, dots: true, navigation: true}"
      [items]="hotProduct" 
      [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
        <div class="item" *ngFor="let item of hotProduct ">
          <div class="product">
            <!-- <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <a [routerLink]="['/shop/category', item._id]">
                    <img src="{{item.img[0]}}" alt="" class="img-responsive">
                  </a>
                </div>
                <div class="back">
                  <a [routerLink]="['/shop/category', item._id]">
                    <img src="{{item.img[1]}}" alt="" class="img-responsive">
                  </a>
                </div>
              </div>
            </div> -->
            <a [routerLink]="['/shop/category', item._id]" class="">
              <img src="{{item.image[0]}}" alt="" class="img-responsive">
            </a>
            <div class="text">
              <h3>
                <a [routerLink]="['/shop/category', item._id]">{{item.productName}}</a>
              </h3>
              <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
              <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
              <p class="price" *ngIf="!item.price">Liên hệ</p>
            </div>
            <!-- /.text -->

            <div class="ribbon sale" *ngIf="item.sale">
              <div class="theribbon">SALE</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new" *ngIf="item.new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon gift" *ngIf="item.hot">
              <div class="theribbon">HOT</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->
          </div>
          <!-- /.product -->
        </div>
      </owl-carousel>
      <!-- /.product-slider -->
    </div>
    <!-- /.container -->

  </div>
  <!-- /.hot -->

  <!-- *** HOT END *** -->

  <!-- *** HOT SALE PRODUCT SLIDESHOW ***
_________________________________________________________ -->
<div class="hot">

  <div class="box">
    <div class="container">
      <div class="col-md-12">
        <h2>các sản phẩm đang giảm giá</h2>
      </div>
    </div>
  </div>

  

  <div class="container">
    <owl-carousel class="product-slider" [options]="{items: 4, dots: true, navigation: true}"
    [items]="saleProduct" 
    [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
      <div class="item" *ngFor="let item of saleProduct">
        <div class="product">
          <!-- <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a [routerLink]="['/shop/category', item._id]">
                  <img src="{{item.img[0]}}" alt="" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a [routerLink]="['/shop/category', item._id]">
                  <img src="{{item.img[1]}}" alt="" class="img-responsive">
                </a>
              </div>
            </div>
          </div> -->
          <a [routerLink]="['/shop/category', item._id]" class="">
            <img src="{{item.image[0]}}" alt="" class="img-responsive">
          </a>
          <div class="text">
            <h3>
              <a [routerLink]="['/shop/category', item._id]">{{item.productName}}</a>
            </h3>
            <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
            <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
            <p class="price" *ngIf="!item.price">Liên hệ</p>
          </div>
          <!-- /.text -->

          <div class="ribbon sale" *ngIf="item.sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon new" *ngIf="item.new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon gift" *ngIf="item.hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
        </div>
        <!-- /.product -->
      </div>
    </owl-carousel>
    <!-- /.product-slider -->
  </div>
  <!-- /.container -->

</div>
<!-- /#sale -->

<!-- *** SALE END *** -->

<!-- *** NEW PRODUCT SLIDESHOW ***
_________________________________________________________ -->
<div class="hot">

  <div class="box">
    <div class="container">
      <div class="col-md-12">
        <h2>các sản phẩm mới về</h2>
      </div>
    </div>
  </div>

  

  <div class="container">
    <owl-carousel class="product-slider" [options]="{items: 4, dots: true, navigation: true, autoHeight: false}"
    [items]="newProduct" 
    [carouselClasses]="['owl-theme','owl-default', 'row', 'sliding']">
      <div class="item" *ngFor="let item of newProduct">
        <div class="product">
          <!-- <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <a [routerLink]="['/shop/category', item._id]">
                  <img src="{{item.img[0]}}" alt="" class="img-responsive">
                </a>
              </div>
              <div class="back">
                <a [routerLink]="['/shop/category', item._id]">
                  <img src="{{item.img[1]}}" alt="" class="img-responsive">
                </a>
              </div>
            </div>
          </div> -->
          <a [routerLink]="['/shop/category', item._id]" class="">
            <img src="{{item.image[0]}}" alt="" class="img-responsive" >
          </a>
          <div class="text">
            <h3>
              <a [routerLink]="['/shop/category', item._id]">{{item.productName}}</a>
            </h3>
            <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
            <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
            <p class="price" *ngIf="!item.price">Liên hệ</p>
          </div>
          <!-- /.text -->

          <div class="ribbon sale" *ngIf="item.sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon new" *ngIf="item.new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->

          <div class="ribbon gift" *ngIf="item.hot">
            <div class="theribbon">HOT</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon -->
        </div>
        <!-- /.product -->
      </div>
    </owl-carousel>
    <!-- /.product-slider -->
  </div>
  <!-- /.container -->

</div>
<!-- /#new -->

<!-- *** NEW END *** -->

</div>
<!-- /#content -->
