<!-- *** FOOTER ***
 _________________________________________________________ -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <ul>
          <li>
            <h4><a [routerLink]="['/shop/home']">Trang chủ</a></h4>
          </li>
          <li>
            <h4><a [routerLink]="['/shop/aboutus']">Thông tin cửa hàng</a></h4>
          </li>
        </ul>
      </div>
      <!-- /.col-md-3 -->

      <!-- <div class="col-md-3 col-sm-6">

        <h4>Top categories</h4>

        <h5>Men</h5>

        <ul>
          <li>
            <a href="category.html">T-shirts</a>
          </li>
          <li>
            <a href="category.html">Shirts</a>
          </li>
          <li>
            <a href="category.html">Accessories</a>
          </li>
        </ul>

        <h5>Ladies</h5>
        <ul>
          <li>
            <a href="category.html">T-shirts</a>
          </li>
          <li>
            <a href="category.html">Skirts</a>
          </li>
          <li>
            <a href="category.html">Pants</a>
          </li>
          <li>
            <a href="category.html">Accessories</a>
          </li>
        </ul>

        <hr class="hidden-md hidden-lg">

      </div> -->
      <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6 col-xs-6">

        <h4>Địa điểm cửa hàng</h4>

        <p>
          <strong>Cửa hàng Cao Cường</strong>
          <br>Số 33 Phạm Văn Bạch Phường 15
          <br>Quận Tân Bình TP.HCM <strong>Việt Nam</strong>
          
        </p>
      </div>
      <!-- /.col-md-3 -->
      
      <div class="col-md-3 col-sm-6 col-xs-6">

        <h4>Thông tin liên hệ</h4>

        <p>
          <strong>Số điện thoại:</strong> 0122 498 5402
          <br>
          <strong>Email:</strong> docucaocuong@gmail.com
          
        </p>
      </div>
      <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6 col-xs-6">
        <h4>Theo dõi chúng tôi tại</h4>

        <p class="social">
          <a href="#" target="_blank" class="facebook external" data-animate-hover="shake">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" target="_blank" class="twitter external" data-animate-hover="shake">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" target="_blank" class="instagram external" data-animate-hover="shake">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" target="_blank" class="gplus external" data-animate-hover="shake">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="#" target="_blank" class="email external" data-animate-hover="shake">
            <i class="fa fa-envelope"></i>
          </a>
        </p>


      </div>
      <!-- /.col-md-3 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
<!-- /#footer -->

<!-- *** FOOTER END *** -->
