<div id="content">
  <div class="container">

    <div class="col-md-12">

      <ul class="breadcrumb">
        <li>
          <a [routerLink]="['/shop/home']">Trang chủ</a>
        </li>
        <li *ngIf="isNew">Mới</li>
        <li *ngIf="!isNew">Cũ</li>
        <li *ngIf="productCategory === 'BAN'">Bàn</li>
        <li *ngIf="productCategory === 'QUAY'">Quầy</li>
        <li *ngIf="productCategory === 'BON'">Bồn</li>
        <li *ngIf="productCategory === 'BEP'">Bếp</li>
        <li *ngIf="productCategory === 'KHAC'">Sản phẩm khác</li>
      </ul>
      <div class="box">
        <div class="info-bar">
          <div class="row">
            <div class="col-sm-12 col-md-4 products-showing">
              Hiện
              <strong *ngIf="itemsPerPage > listProduct.length">{{listProduct.length}}</strong><strong *ngIf="itemsPerPage < listProduct.length">{{itemsPerPage*currentPage}}</strong> trên
              <strong>{{listProduct.length}}</strong> sản phẩm
            </div>
  
            <div class="col-sm-12 col-md-8  products-number-sort">
              <div class="row">
                <form class="form-inline">
                  <div class="col-md-6 col-sm-6" style="float:right">
                    <div class="products-sort-by">
                      <strong>Xếp theo</strong>
                      <select name="sort-by" class="form-control" [(ngModel)]="sortType">
                        <option value="">Chọn</option>
                        <option value="upPrice">Giá tăng</option>
                        <option value="downPrice">Giá giảm</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      

      <div class="row products">

        <div class="col-md-3 col-sm-4" *ngFor="let item of listProduct | orderBy:sortType | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage} ">
          <div class="product">
            <!-- <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                    <img src="{{item.img[0]}}" alt="Image" class="img-responsive">
                  </a>
                </div>
                <div class="back">
                  <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                    <img src="{{item.img[1]}}" alt="Image" class="img-responsive">
                  </a>
                </div>
              </div>
            </div> -->
            <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="">
              <img src="{{item.image[0]}}" alt="Image" class="img-responsive">
            </a>
            <div class="text">
              <h3>
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
              </h3>
              <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
              <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
              <p class="price" *ngIf="!item.price">Liên hệ</p>
              <p class="buttons">
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}" class="btn btn-default">Xem chi tiết</a>
              </p>
            </div>
            <!-- /.text -->

            <div class="ribbon sale" *ngIf="item.sale">
              <div class="theribbon">SALE</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon new" *ngIf="item.new">
              <div class="theribbon">NEW</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

            <div class="ribbon gift" *ngIf="item.hot">
              <div class="theribbon">HOT</div>
              <div class="ribbon-background"></div>
            </div>
            <!-- /.ribbon -->

          </div>
          <!-- /.product -->
        </div>

      </div>
      <!-- /.products -->

      <div class="pages">
        <pagination-controls (pageChange)="currentPage =$event"></pagination-controls>
      </div>

    </div>
    <!-- /.col-md-9 -->

  </div>
  <!-- /.container -->
</div>
<!-- /#content -->
