<div class="col-md-9" id="basket">

  <div class="box">

    <form>
      <p class="text-muted">Bạn hiện có {{productOrder?productOrder.length:0}} món hàng trong giỏ.</p>
      <div class="table-responsive">
        <table class="table" *ngIf="productOrder; else noLocalCart">
          <thead>
            <tr>
              <th colspan="2">Sản phẩm</th>
              <th>Số lượng</th>
              <th>Giá</th>
              <th>Giảm giá</th>
              <th colspan="2">Tổng</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productOrder; let i = index">
              <td>
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
                  <img src="{{item.image[0]}}" alt="{{item.productName}}">
                </a>
              </td>
              <td>
                <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a>
              </td>
              <td>
                <input type="number" min="0" class="form-control" (keyup)="checkTotalPrice()" [name]="item.productName" [(ngModel)]="item.amount">
              </td>
              <td>{{item.price | number:'1.0-0'}}</td>
              <td>{{item.discount?item.discount:0}}%</td>
              <td *ngIf="!item.discount">{{item.price*item.amount | number:'1.0-0'}}</td>
              <td *ngIf="item.discount">{{item.price*(100-item.discount)/100*item.amount | number:'1.0-0'}}</td>
              <td>
                <a mwlConfirmationPopover
                [popoverClass]="'text-center-imp'"
                [popoverTitle]="popperTitle"
                [popoverMessage]="'Bạn muốn xóa món hàng này?'"
                placement="right"
                [confirmText]="'Xác nhận'"
                [cancelText]="'Hủy'"
                (confirm)="removeItemFromCart(i)">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>              
          </tbody>
          <tfoot>
            <tr>
              <th colspan="5">Tổng cộng</th>
              <th colspan="2">{{totalPrice | number:'1.0-0'}}</th>
            </tr>
          </tfoot>
        </table>
        <ng-template #noLocalCart>
          <h1 style="color: red;text-align: center">Bạn hiện chưa có đặt hàng.</h1>
        </ng-template>

      </div>
      <!-- /.table-responsive -->

      <div class="box-footer">
        <div class="pull-left">
          <a [routerLink]="['/shop/home']" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm</a>
        </div>
        <div class="pull-right">
          <!-- <button class="btn btn-default">
            <i class="fa fa-refresh"></i> Update basket</button> -->
          <button (click)="checkout()" class="btn btn-primary" [disabled]="!productOrder">Tiếp tục
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>

    </form>

  </div>
  <!-- /.box -->


  <div class="row same-height-row">
    <!-- <div class="col-md-3 col-sm-6">
      <div class="box same-height">
        <h3>You may also like these products</h3>
      </div>
    </div> -->

    <div class="col-md-4 col-sm-6" *ngFor="let item of relateProducts">
      <div class="product relate-product same-height">
        <!-- <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <a href="detail.html">
                <img src="assets/images/product2.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
            <div class="back">
              <a href="detail.html">
                <img src="assets/images/product2_2.jpg" alt="Image" class="img-responsive">
              </a>
            </div>
          </div>
        </div> -->
        <a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">
          <img [src]="item.image[0]" alt="Image" class="img-responsive">
        </a>
        <div class="text">
          <h3><a [routerLink]="['/shop/productdetail', item.category, item.productId]" [queryParams]="{new: item.new}">{{item.productName}}</a></h3>
          <p class="price" *ngIf="!item.discount">{{item.price | number:'1.0-0'}}</p>
          <p class="price" *ngIf="item.discount"><del>{{item.price | number:'1.0-0'}}</del> {{item.price*(100-item.discount)/100 | number:'1.0-0'}}</p>
          <p class="price" *ngIf="!item.price">Liên hệ</p>
        </div>
        <div class="ribbon sale" *ngIf="item.sale">
          <div class="theribbon">SALE</div>
          <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->

        <div class="ribbon new" *ngIf="item.new">
          <div class="theribbon">NEW</div>
          <div class="ribbon-background"></div>
        </div>
        <!-- /.ribbon -->

        <div class="ribbon gift" *ngIf="item.hot">
          <div class="theribbon">HOT</div>
          <div class="ribbon-background"></div>
        </div>
      </div>
      <!-- /.product -->
    </div>
  </div>
</div>