<div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header row">
          <div class="col-xs-4">
            <button class="btn btn-primary" style="color:white" data-toggle="modal" data-target="#createNew" data-backdrop="static">Thêm sản phẩm</button>
          </div>
          <div class="col-xs-8">
            <input type="text">
            <button class="btn btn-info" style="color:white">Tìm kiếm</button>
          </div>
        </div>
        <div class="card-body">
          <table id="bootstrap-data-table" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Mã đặt hàng</th>
                <th>Hàng đặt</th>
                <th>Tổng giá</th>
                <th>Tên khách</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (products | async).products | reverse | paginate: { id: 'fullProduct', itemsPerPage: itemsPerPage, currentPage: currentPage}">
                <th>{{item.category}}</th>
                <th>{{item.productId}}</th>
                <th>{{item.productName}}</th>
                <th>{{item.price | number:'1.2-2'}}</th>
                <th>{{item.discount}}</th>
                <th><mat-slide-toggle [ngModelOptions]="{standalone: true}" ngDefaultControl [color]="'primary'" [(ngModel)]="item.new" [disabled]="'true'"></mat-slide-toggle></th>
                <th><mat-slide-toggle [ngModelOptions]="{standalone: true}" ngDefaultControl [color]="'primary'" [(ngModel)]="item.hot" [disabled]="'true'"></mat-slide-toggle></th>
                <th><mat-slide-toggle [ngModelOptions]="{standalone: true}" ngDefaultControl [color]="'primary'" [(ngModel)]="item.sale" [disabled]="'true'"></mat-slide-toggle></th>
                <th>
                  <ks-modal-gallery [plainGalleryConfig]="plainGalleryRow" [modalImages]="createImgView(item.image)"></ks-modal-gallery>
                </th>
                <th>
                  <button class="btn btn-info" style="color:white" data-toggle="modal" data-target="#editProduct" data-backdrop="static" (click)="returnEditProduct(item)">Sửa</button>

                </th>
                <th>
                    <button mwlConfirmationPopover
                    [popoverClass]="'text-center-imp'"
                    [popoverTitle]="'Xác nhận'"
                    [popoverMessage]="'Bạn muốn xóa sản phẩm này?'"
                    placement="left"
                    [confirmText]="'Xác nhận'" [cancelText]="'Hủy'"
                    (confirm)="deleteProduct(item.productId)" class="btn btn-danger" style="color:white">Xóa</button>
                </th>
              </tr>
            </tbody>
          </table>
          <div class="pages">
            <pagination-controls style="float: right;" id="fullProduct" (pageChange)="currentPage =$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- Modal -->
<div id="createNew" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="clearForm('newImages', true, '#createNew')">&times;</button>
        <h3 class="modal-title">Thêm sản phẩm mới</h3>
      </div>
      <div class="modal-body">
        <form class="ng-form row form-group">
          <div class="row">
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Loại sản phẩm</label>
              <select class="col-xs-7" [(ngModel)]="newProduct.category" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <option value="">Chọn loại</option>
                <option value="BAN">Bàn</option>
                <option value="GHE">Ghế</option>
                <option value="BON">Bồn</option>
                <option value="BEP">Bếp</option>
                <option value="XE">Xe</option>
                <option value="QUAY">Quầy</option>
              </select>
            </div>
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Mã sản phẩm</label>
              <input type="text" class="col-xs-7" [(ngModel)]="newProduct.productId" [ngModelOptions]="{standalone: true}" ngDefaultControl
              />
            </div>
          </div>
          <!-- <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Mã sản phẩm</label>
            <span *ngIf="newProduct.category">{{newProduct.category}}</span>
            <span *ngIf="newProduct.category && newProduct.productId">{{newProduct.productId}}</span>
          </div> -->
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Tên sản phẩm</label>
            <input type="text" class="col-xs-8" [(ngModel)]="newProduct.productName" [ngModelOptions]="{standalone: true}" ngDefaultControl
            />
          </div>
          <div class="row form-pad">
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Giá</label>
              <input type="number" min="0" class="col-xs-7" [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}" ngDefaultControl
              />
            </div>
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Giảm giá(%)</label>
              <input type="number" min="0" max="100" class="col-xs-7" [(ngModel)]="newProduct.discount" [ngModelOptions]="{standalone: true}"
                ngDefaultControl />
            </div>
          </div>
          <div class="row form-pad">
            <div class="col-xs-4 flex-center">
              <label class="col-xs-4 label-text">New</label>
              <div class="col-xs-8">
                <mat-slide-toggle [color]="'primary'" [(ngModel)]="newProduct.new" [ngModelOptions]="{standalone: true}" ngDefaultControl></mat-slide-toggle>
              </div>
            </div>
            <div class="col-xs-4 flex-center">
              <label class="col-xs-4 label-text">Hot</label>
              <div class="col-xs-8">
                <mat-slide-toggle [color]="'primary'" [(ngModel)]="newProduct.hot" [ngModelOptions]="{standalone: true}" ngDefaultControl></mat-slide-toggle>
              </div>
            </div>
            <div class="col-xs-4 flex-center">
              <label class="col-xs-4 label-text">Sale</label>
              <div class="col-xs-8">
                <mat-slide-toggle [color]="'primary'" [(ngModel)]="newProduct.sale" [ngModelOptions]="{standalone: true}" ngDefaultControl></mat-slide-toggle>
              </div>
            </div>
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Mô tả chi tiết</label>
            <textarea type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="newProduct.description[0]"></textarea>
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Chất liệu</label>
            <input type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="newProduct.description[1]"
            />
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Thông tin khác</label>
            <textarea type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="newProduct.description[2]"></textarea>
          </div>
          <div class="row form-pad flex-center">
            <div class="col-xs-12">
              <label class="col-xs-5 label-text">Hình ảnh</label>
              <input type="file" class="col-xs-7" multiple id="newImages" (change)="encodeImg('newImages', newProduct)" />
            </div>
            <div class="col-xs-12" *ngIf="newProduct.image.length > 0">
              <img [src]="img" alt="Image" *ngFor="let img of newProduct.image" height="40px" width="40px" style="padding-right: 1rem">
            </div>
          </div>
          <div class="form-pad" style="text-align: center">
            <button class="btn btn-primary btn-xs" style="color: white" [disabled]="validForm(newProduct)" (click)="checkProductId(newProduct.productId)">Tạo mới</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearForm('newImages', true, '#editProduct')">Thoát</button>
      </div>
    </div>
  </div>
</div>


<div id="editProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="clearForm('editImages', false, '#createNew')">&times;</button>
        <h3 class="modal-title">Chỉnh sửa sản phẩm</h3>
      </div>
      <div class="modal-body">
        <form class="ng-form row form-group">
          <div class="row">
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Loại sản phẩm</label>
              <select class="col-xs-7" [(ngModel)]="editProductModel.category" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <option value="">Chọn loại</option>
                <option value="BAN">Bàn</option>
                <option value="GHE">Ghế</option>
                <option value="BON">Bồn</option>
                <option value="BEP">Bếp</option>
                <option value="XE">Xe</option>
                <option value="QUAY">Quầy</option>
              </select>
            </div>
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Mã sản phẩm</label>
              <input type="text" class="col-xs-7" [(ngModel)]="editProductModel.productId" disabled [ngModelOptions]="{standalone: true}" ngDefaultControl
              />
            </div>
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Tên sản phẩm</label>
            <input type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="editProductModel.productName"
            />
          </div>
          <div class="row form-pad">
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Giá</label>
              <input type="number" min="0" class="col-xs-7" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="editProductModel.price"
              />
            </div>
            <div class="col-xs-6 flex-center">
              <label class="col-xs-5 label-text">Giảm giá(%)</label>
              <input type="number" min="0" max="100" class="col-xs-7" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="editProductModel.discount"
              />
            </div>
          </div>
          <div class="row form-pad">
            <div class="col-xs-4 flex-center">
              <label class="col-xs-4 label-text">New</label>
              <div class="col-xs-8">
                <mat-slide-toggle [ngModelOptions]="{standalone: true}" ngDefaultControl [color]="'primary'" [(ngModel)]="editProductModel.new"></mat-slide-toggle>
              </div>
            </div>
            <div class="col-xs-4 flex-center">
              <label class="col-xs-4 label-text">Hot</label>
              <div class="col-xs-8">
                <mat-slide-toggle [ngModelOptions]="{standalone: true}" ngDefaultControl [color]="'primary'" [(ngModel)]="editProductModel.hot"></mat-slide-toggle>
              </div>
            </div>
            <div class="col-xs-4 flex-center">
              <label class="col-xs-4 label-text">Sale</label>
              <div class="col-xs-8">
                <mat-slide-toggle [ngModelOptions]="{standalone: true}" ngDefaultControl [color]="'primary'" [(ngModel)]="editProductModel.sale"></mat-slide-toggle>
              </div>
            </div>
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Mô tả chi tiết</label>
            <textarea type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="editProductModel.description[0]"></textarea>
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Chất liệu</label>
            <input type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="editProductModel.description[1]"
            />
          </div>
          <div class="row flex-center form-pad">
            <label class="col-xs-4 label-text">Thông tin khác</label>
            <textarea type="text" class="col-xs-8" [ngModelOptions]="{standalone: true}" ngDefaultControl [(ngModel)]="editProductModel.description[2]"></textarea>
          </div>
          <div class="row form-pad flex-center">
            <div class="col-xs-12">
              <label class="col-xs-5 label-text">Hình ảnh</label>
              <input type="file" class="col-xs-7" multiple id="editImages" (change)="encodeImg('editImages', editProductModel)" />
            </div>
            <div class="col-xs-12 row" *ngIf="editProductModel.image.length > 0">
                <img [src]="img" alt="Image" style="padding-right: 1rem" height="40px" width="40px" *ngFor="let img of editProductModel.image">
            </div>
          </div>
          <div class="form-pad" style="text-align: center">
            <button class="btn btn-primary btn-xs" type="submit" style="color: white" (click)="editProduct()">Cập nhật</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearForm('editImages', false, '#editProduct')">Thoát</button>
      </div>
    </div>
  </div>
</div>
