<div class="col-md-9" id="checkout">

  <div class="box">
      <form>
          <ul class="nav nav-pills nav-justified">
              <li class=""><a [routerLink]="['../checkout-order']"><i class="fa fa-map-marker"></i><br>Đơn hàng</a>
              </li>
              <li class="active"><a [routerLink]="['../checkout-delivery']"><i class="fa fa-truck"></i><br>Thông tin khách hàng</a>
              </li>
              <li class="disabled"><a><i class="fa fa-eye"></i><br>Tổng kết đơn hàng</a>
              </li>
          </ul>

          <div class="content">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="firstname">Họ Tên</label>
                          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.name">
                      </div>
                  </div>
              </div>
              <!-- /.row -->

              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="phone">Số điện thoại</label>
                          <input type="number" min="0" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.phone">
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.email">
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <label for="state">Địa chỉ (Không bắt buộc)</label>
                        <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.address">
                    </div>
                </div>
              </div>
              <!-- /.row -->
          </div>

          <div class="box-footer">
              <div class="pull-left">
                  <a [routerLink]="['../checkout-order']" class="btn btn-default"><i class="fa fa-chevron-left"></i>Trở về đơn hàng</a>
              </div>
              <div class="pull-right">
                  <button class="btn btn-primary" (click)="saveGuestInfo()" [disabled]="validGuestInfo()">Tiếp tục<i class="fa fa-chevron-right"></i>
                  </button>
              </div>
          </div>
      </form>
  </div>
  <!-- /.box -->


</div>
<!-- /.col-md-9 -->