/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.text-center-imp {
    text-align: center !important;
}

div.product a img {
    height: 250px !important;
    width: 100%;
}

div.product.relate-product a img {
    height: 200px !important;
}


#loader .loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    z-index: 1000;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.4;
    background-color: dimgrey;
}
