<div class="col-md-9" id="checkout">

  <div class="box">
      <form>
          <h1>Checkout - Order review</h1>
          <ul class="nav nav-pills nav-justified">
              <li><a [routerLink]="['../checkout-order']"><i class="fa fa-map-marker"></i><br>Order</a>
              </li>
              <li><a [routerLink]="['../checkout-delivery']"><i class="fa fa-truck"></i><br>Delivery Method</a>
              </li>
              <li class="active"><a><i class="fa fa-eye"></i><br>Order Review</a>
              </li>
          </ul>

          <div class="content">
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Product</th>
                      <th>Quantity</th>
                      <th>Unit price</th>
                      <th>Discount</th>
                      <th colspan="2">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of productOrder; let i = index">
                      <td>
                        <a [routerLink]="['/shop/category', item._id]">
                          <img src="{{item.img[0]}}" alt="{{item.name}}">
                        </a>
                      </td>
                      <td>
                        <a [routerLink]="['/shop/category', item._id]">{{item.name}}</a>
                      </td>
                      <td>
                        <input type="number" readonly class="form-control"  [name]="item.name" [(ngModel)]="item.quantity">
                      </td>
                      <td>{{item.price | currency:'USD':'symbol':'1.2-2'}}</td>
                      <td>$0.00</td>
                      <td>{{item.price*item.quantity | currency:'USD':'symbol':'1.2-2'}}</td>
                    </tr>              
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="5">Total</th>
                      <th colspan="2">{{totalPrice | currency:'USD':'symbol':'1.2-2'}}</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.table-responsive -->
          </div>
          <!-- /.content -->

          <div class="box-footer">
              <div class="pull-left">
                  <a [routerLink]="['../checkout-delivery']" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Delivery</a>
              </div>
              <div class="pull-right">
                  <button class="btn btn-primary">Place an order<i class="fa fa-chevron-right"></i>
                  </button>
              </div>
          </div>
      </form>
  </div>
  <!-- /.box -->


</div>
<!-- /.col-md-9 -->